* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
.container{
height: 100vh;
background-color: #3b3947;
display: grid;
grid-template-columns: 1fr 3fr;
grid-template-areas: 
"";
}
article{
background-color:#535061;
color: white;
}
aside{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
.profile {
border-radius: 20px;
padding: 10px;
border: 2px solid red;
width:319px;
height:282px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.img-profile {
border-radius: 70px;
width: 128px;
height: 128px;
}
.text-profile{
font-size: 23px;
}
.function-profile{
font-size: 13px;
}
.informations{
width:319px;
height: 282px;
border-radius: 20px;
padding: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}




.technology{
display: flex;
border-radius:20px;
width:319px;
height: 182px;
flex-direction: column;
justify-content: center;
align-items: center;
}

.technology > h1 {
    font-size: 22px;
  padding-right: 180px;
}
#content-technology{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: repeat(7,1fr);
   
}


.itens-technology{
padding-left: 10px;
}
.my-projects{
border: 2px solid black;
}






